.Footer {
    background: #56ccb1;
    color: white;
    width: 100vw;
    height: 45px;
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    display: flex;
    align-content: center;
    align-items: center;
    .right_text {
        position: absolute;
        float: left;
        left: 30px;
    }
    .left_text {
        position: absolute;
        right: 30px;
        float: right;
    }
}

@media (min-width: 1440px) {
    .Footer {
        .right_text {
            left: 330px;
        }
    }
    
}