a.button-collapse {
    display: block;
}

.side-nav {
    width: 70%;
    max-width: 300px;
    padding-bottom: 1000px;
}

.side-nav a {
    margin: 0;
    padding: 0;
    
}
.side-nav li {
    border-bottom: 0.5px rgb(233, 233, 233) solid;
}
.side-nav li i.material-icons{
    margin: 0 15px 0 20px !important;
}

.side-nav p {
    margin: 0 !important;
}

.show-on-large .material-icons {
    color: white;
}

.material-icons {
    color: rgb(100, 100, 100);
}



a.show-on-large {
    width: 25px;
    position: relative;
    top:-45px  !important;
    left: 18px !important;
}

div.userView {
    height: 128px !important;
    background-color: rgb(233, 233, 233);
}

.user {
    display: flex;
    align-items: center;
    /* justify-content: center; */
   
    align-content: center; 
    height: 120px;
    
    background-color: rgb(233, 233, 233);
}

.user img {
    margin: 0 20px;
}


@media (min-width: 1440px) {
    #sidenav_0.side-nav {
        transform: translateX(0px) !important;
    }
}