body {
  padding: 0;
  margin: 0; }
  body .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal; }
    body .container .left-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      color: white;
      width: 50vw;
      height: 100vh;
      background-color: #56ccb1;
      background-image: url("/background.png"); }
      body .container .left-box .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center; }
        body .container .left-box .content .logo img {
          width: 120px;
          height: 120px; }
        body .container .left-box .content .slogan {
          font-size: 24px; }
        body .container .left-box .content .name {
          font-size: 3rem; }
      body .container .left-box .address {
        font-size: 20px;
        position: absolute;
        bottom: 50px;
        align-items: center; }
    body .container .right-box {
      width: 50vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center; }
      body .container .right-box .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 40vw;
        height: 100%;
        max-height: 460px;
        border: 1px rgba(167, 167, 167, 0.5) solid;
        box-shadow: 3px 3px 5px rgba(167, 167, 167, 0.5); }
        body .container .right-box .box .content {
          width: 75%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center; }
          body .container .right-box .box .content .text {
            color: #56ccb1;
            font-size: 2.92rem;
            margin: 10px 0; }
          body .container .right-box .box .content .input {
            width: 100%; }
          body .container .right-box .box .content .button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 20px 0; }
            body .container .right-box .box .content .button .btn_forgot {
              color: gray;
              margin-left: 30px; }
          body .container .right-box .box .content .address {
            display: none; }

@media (max-width: 1200px) {
  body .container .right-box .box .content {
    width: 75%; }
    body .container .right-box .box .content .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 20px 0 !important; }
      body .container .right-box .box .content .button .btn_forgot {
        margin: 10px 0 0 0 !important; } }
@media (max-width: 1024px) {
  body .container .left-box {
    width: 40vw; }
    body .container .left-box .content .logo img {
      width: 80px;
      height: 80px; }
    body .container .left-box .content .slogan {
      font-size: 14px; }
    body .container .left-box .address {
      font-size: 14px; }
  body .container .right-box {
    width: 60vw; }
    body .container .right-box .box {
      width: 45vw;
      height: 75vh; } }
@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0; }
    body .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      line-height: 1.5;
      font-family: "Roboto", sans-serif;
      font-weight: normal; }
      body .container .left-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: white;
        width: 100vw;
        height: 40vh;
        background-color: #56ccb1;
        background-image: url("/background.png"); }
        body .container .left-box .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center; }
          body .container .left-box .content .logo img {
            width: 80px;
            height: 80px; }
          body .container .left-box .content .slogan {
            font-size: 14px; }
          body .container .left-box .content .name {
            font-size: 3rem; }
        body .container .left-box .address {
          font-size: 14px;
          position: absolute;
          bottom: 20px;
          align-items: center;
          z-index: 100;
          color: gray !important; }
      body .container .right-box {
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center; }
        body .container .right-box .box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border: none !important;
          box-shadow: 0 0 0 0; }
          body .container .right-box .box .content {
            width: 85% !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center; }
            body .container .right-box .box .content .text {
              display: none; }
            body .container .right-box .box .content .input {
              width: 100%; }
              body .container .right-box .box .content .input label {
                color: #56ccb1 !important; }
              body .container .right-box .box .content .input input#input_0 {
                border-bottom: 1px #56ccb1 solid !important; }
              body .container .right-box .box .content .input input#input_1 {
                border-bottom: 1px #56ccb1 solid !important; }
            body .container .right-box .box .content .button {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              align-items: center;
              margin: 10px 0 !important; }
              body .container .right-box .box .content .button .btn_forgot {
                margin: 10px 0 0 0 !important; } }

/*# sourceMappingURL=Login.css.map */
