html {
    font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}
.login-page .circle {
    height: 120px;
}
.circle {
    border-radius: 50%;
}
.login-page .login-box h3 {
    color: #26A69A;
    line-height: 55px;
    margin-bottom: 30px;
    font-family: Roboto;
}
.input-field.col label {
    left: 0.75rem;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
input[type=text], input[type=password] {
    margin-top: 5px;
}
input {
    line-height: normal;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}
.card-content {
    margin-top: 20px;
}
.login-page .login-box .inner .card-content {
    margin-top: 0;
}
.login-page .left-box h5 {
    font-size: 24px;
}
.btn, .btn-large {
    margin-bottom: 4px;
}
.right {
    float: right !important;
}
.login-page .login-box .btn {
    width: 140px;
}
.grey-text {
    color: #9e9e9e !important;
}
a {
    text-decoration: none;
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}
.login-page .login-box .text-lighten {
    color: #4A4A4A !important;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0.64px;
    line-height: 35px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}
.body-fix {
    width: calc(100vw) !important;
    margin-left: 0 !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white !important;
    margin: 0;
}
main {
    flex: 1 0 auto;
}
.container {
    margin: 0;
    width: auto;
    max-width: none;
}
.login-page .login-box .card-action {
    padding-top: 0;
    border-top: none;
    padding-left: 30px;
    padding-bottom: 50px;
    
}
.left-box valign-wrapper {
    background-color: #56CCB1;
}
.login-page .left-box {
    float: left;
    width: 50%;
    height: 100vh;
}
.valign-wrapper {
    display: flex;
    align-items: center;
}
.login-page .left-box .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
}
.login-page .middle {
    display: table-cell;
    vertical-align: middle;
}
.login-page .left-box .inner {
    display: table;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
}
img {
    border: 0;
}
.login-page .left-box #medly-text-logo {
    height: 28px;
    margin-top: 8%;
}
.login-page .left-box .medly-logo-text {
    text-align: center;
    color: white;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
}
h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}
.login-page .login-box {
    float: right;
    width: 50%;
}
.login-page .login-box .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
    z-index: 2;
}
@media (max-width: 1200px) {
    .login-page .login-box .text-lighten {
        color: #4A4A4A !important;
        font-family: Roboto;
        font-size: 18px !important;
        letter-spacing: 0.64px;
        line-height: 35px;
        width: 100%;
        text-align: center !important;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    .login-page .login-box .btn {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 1300px) {
    .login-page .login-box .inner {
        width: 80%;
    }
    .login-page .login-box .text-lighten {
        color: #4A4A4A !important;
        font-family: Roboto;
        font-size: 16px !important;
        letter-spacing: 0.64px;
        line-height: 35px;
    }
    .login-page .login-box .inner {
        width: 80%;
    }
}
.login-page .login-box .inner {
    display: table;
    margin: 0 auto;
}
.login-page .login-box .card {
    height: 100%;
    padding: 30px;
}
.card {
    position: relative;;
    margin: 0.5rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.login-page .copy-right {
    position: absolute;
    bottom: 50px;
    width: 50%;
    float: left;
}
.login-page .copy-right-text {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 20px;
}
@media (max-width: 600px) {
    .login-page .login-box .inner .card-content {
        margin-top: 5% !important;
        padding-bottom: 0 !important;
    }
    .login-page .copy-right h5 {
        color: #9B9B9B !important;
    }
    .login-page .circle {
        height: 80px !important;
    }
    .login-page .left-box {
        float: initial !important;
        width: 100% !important;
        height: 35% !important;
        top: 0;
        position: absolute;
    }
    .login-page .left-box .outer{
        display: table !important;
        position: absolute !important;
        height: 35% !important;
        width: 100% !important;
    }
    .login-page .left-box #medly-text-logo{
        height: 20px;
    }
    .login-page .left-box .medly-logo-text{
        text-align: center;
        color: white;
        font-weight: 300;
    }
    .login-page .login-box {
        float: initial !important;
        width: 100% !important;
        height: 65%;
        bottom: 0;
        position: absolute;
    }
    .login-page .login-box .outer{
        display: table !important;
        position: absolute !important;
        width: 100% !important;
        height: 65% !important;
        background-color: white;
    }
    .login-page .login-box .middle {
        display: block !important;
        vertical-align: unset !important;
    }
    .login-page .login-box .inner {
        display: table !important;
        margin: 0 auto !important;
        width: 100% !important;
    }
    .login-page .login-box .card{
        margin: 0 !important;
        box-shadow: unset !important;
        height: 100% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 0 !important;
    }
    .login-page .copy-right{
        position: absolute !important;
        bottom: 5% !important;
        width: 100% !important;
    }
    .login-page .copy-right h5{
        color: #9B9B9B !important;
    }
}
@media (max-width: 1024px) {
    .login-page .left-box .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 40%;
    }
    .login-page .left-box #medly-text-logo {
        height: 24px;
    }
    .login-page .login-box h3 {
        color: #26A69A;
        line-height: 55px;
        margin-bottom: 30px;
        font-family: Roboto;
        font-size: 40px;
    }
    .login-page .circle {
        height: 80px;
    }
    .login-page .login-box label {
        font-size: 20px;
    }
    .login-page .login-box input {
        font-size: 16px;
    }
    .login-page .copy-right-text {
        font-size: 14px;
    }
    .login-page .left-box {
        float: left;
        width: 40%;
        height: 100vh;
    }
    .login-page .login-box {
        float: right;
        width: 60%;
    }
    .login-page .login-box .outer{
        display: table;
        position: absolute;
        height: 100%;
        width: 60%;
    }
    .login-page .login-box .inner{
        display: table;
        margin: 0 auto;
        width: 85%;
    }
    .login-page .login-box .card{
        height: 100% !important;
        padding: 30px !important;
        padding-top: 0 !important;
    }
    .login-page .login-box .card-action{
        padding-top: 0 !important;
        border-top: none !important;
        padding-left: 30px !important;
        padding-bottom: 50px !important;
    }
    .login-page .copy-right{
        position: absolute;
        bottom: 50px;
        width: 40%;
    }
    .login-page .copy-right-text{
        font-size: 14px;
    }
    .login-page .left-box .inner{
        display: table;
        margin: 0 auto;
    }
    .login-page .login-box .text-lighten {
        color: #4A4A4A !important;
        font-family: Roboto;
        font-size: 18px !important;
        letter-spacing: 0.64px;
        line-height: 35px !important;
        width: 100%;
        text-align: center !important;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    .login-page .login-box .btn {
        width: 100%;
        text-align: center;
    }
    .login-page .left-box h5 {
        font-size: 14px;
    }
    .login-page .login-box .inner .card-content {
        margin-top: 0;
    }
}
@media (max-width: 850px) {
    .login-page .left-box #medly-text-logo {
        height: 18px;
    }
    .login-page .login-box .inner .card-content h3 {
        display: none !important;
    }
    .login-page .login-box label {
        font-size: 20px;
        color: #26A69A;
    }
    .login-page .login-box input {
        font-size: 16px;
        border-bottom: 1px solid #26A69A;
    }
    .login-page .copy-right-text{
        font-size: 14px;
    }
    .login-page .left-box{
        float: left;
        width: 40%;
        height: 100vh;
    }
    .login-page .left-box .inner{
        display: table;
        margin: 0 auto;
    }
    .login-page .login-box{
        float: right;
        width: 60%;
    }
    .login-page .login-box .inner .card-content {
        margin-top: 0;
    }
    .login-page .login-box .outer{
        display: table;
        position: absolute;
        height: 100%;
        width: 60%;
    }
    .login-page .left-box .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 40%;
    }
    .login-page .login-box .middle{
        display: table-cell;
        vertical-align: middle
    }
    .login-page .login-box .inner{
        display: table;
        margin: 0 auto;
        width: 85%;
    }
    .login-page .login-box .card{
        height: 100% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 0 !important;
        margin: 0 !important;
        box-shadow: unset !important;
    }
    .login-page .circle {
        height: 50px;
    }
    .login-page .login-box .btn {
        width: 100%;
        text-align: center;
    }
    .login-page .login-box .card-action{
        border-top: none !important;
        padding: 10% !important;
        padding-top: 0 !important;
    }
    .login-page .login-box .text-lighten {
        color: #A5A5A5 !important;
        font-family: Roboto;
        font-size: 18px !important;
        letter-spacing: 0.64px;
        line-height: 35px !important;
        width: 100%;
        text-align: center !important;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    .login-page .left-box h5 {
        font-size: 14px;
    }
}